.pos-nose{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-plus:hover {
    background-color: #4c98af; 
    color: white;
    -webkit-box-shadow: 0 0 32px 6px #4c98af;
    -moz-box-shadow: 0 0 32px 6px #4c98af;
    box-shadow: 0 0 32px 6px #4c98af;
}