.item{
  background-color: #0d56df;
  padding-inline: 10px;
  margin: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 70% 15% 15%;
  border-radius: 10px;
}

button{
  transition-duration: 0.4s;
  border-radius: 20px;
  border: none;
  color: #417cea;
}

.notas{
  color: white;
  text-align: center;
  font: 150% cursive;
}

.check{
  display: flex;
  justify-content: center;
}

.iconCheck{
  transition-duration: 0.4s;
  height: 40px;
  padding: 5px;

}

.iconCheck:hover{
  color: #ffffff;
}

.button-check:hover {
  background-color: #4CAF50; 
  color: white;
  -webkit-box-shadow: 0 0 32px 6px #4CAF50;
  -moz-box-shadow: 0 0 32px 6px #4CAF50;
  box-shadow: 0 0 32px 6px #4CAF50;
}

.button-check--active {
  background-color: #4CAF50; 
  color: white;
  -webkit-box-shadow: 0 0 32px 6px #4CAF50;
  -moz-box-shadow: 0 0 32px 6px #4CAF50;
  box-shadow: 0 0 32px 6px #4CAF50;
}

.trash{
  display: flex;
  justify-content: center;
}

.trash {
  display: flex;
  justify-content: center;
}

.button-trash:hover{
  background-color: #ff0000; 
  color: white;
  -webkit-box-shadow: 0 0 32px 6px #ff0000;
  -moz-box-shadow: 0 0 32px 6px #ff0000;
  box-shadow: 0 0 32px 6px #ff0000;
}

.iconTrash{
  transition-duration: 0.4s;
  height: 40px;
  padding: 5px;
}

.iconTrash:hover{
  color: #ffffff;
}

.iconTrash:active{
  color: white;
}
