body{
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #06296b 100px), repeating-linear-gradient(#05183c, #05183c);
  background-color: #06296b;
  background-repeat: no-repeat;
  background-attachment: fixed;
}